@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline > i {
  color: $subTitle;
}

.software-skill-inline > i:hover {
  color: $skillsColor;
}
.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
}
.software-skill-inline > i:hover ~ p {
  color: $skillsColor;
}

.apache-airflow-className {
  background-color: currentColor; /* Inherit the parent color */
  mask-image: url('../../assets/icons/airflow-svgrepo-com.svg');
  mask-size: cover;  width: 50px; /* Adjust width */
  height: 50px; /* Adjust height */
  display: inline-block; /* Ensures it behaves like an inline element */
}

.sql-className {
  background-color: currentColor; /* Inherit the parent color */
  mask-image: url('../../assets/icons/sql.svg');
  mask-size: cover;  width: 50px; /* Adjust width */
  height: 50px; /* Adjust height */
  display: inline-block; /* Ensures it behaves like an inline element */
}

.dbt-className {
  background-color: currentColor; /* Inherit the parent color */
  mask-image: url('../../assets/icons/dbt.svg');
  mask-size: cover;  width: 50px; /* Adjust width */
  height: 50px; /* Adjust height */
  display: inline-block; /* Ensures it behaves like an inline element */
}

.bigquery-className {
  background-color: currentColor; /* Inherit the parent color */
  mask-image: url('../../assets/icons/bigquery.svg');
  mask-size: cover;  width: 50px; /* Adjust width */
  height: 50px; /* Adjust height */
  display: inline-block; /* Ensures it behaves like an inline element */
}
